!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Paige + Shaun | October 11th, 2014
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css')
    link(rel='stylesheet', href='css/style.css')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .moon(data-0="top: -300px", data-3000="top: 0px", data-4000="top: 200px")
      img(src='images/moon.png')

    include templates/header
    include templates/couple
    include templates/weddingparty
    include templates/venue
    include templates/accomodations
    include templates/bigday
    include templates/rsvp

    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.11/skrollr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.9/jquery.scrollTo.min.js')
    script(src='//cdn.jsdelivr.net/jquery.localscroll/1.3.1/jquery.localScroll.min.js')

    script(src='js/app.js')
