!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Paige + Shaun | October 11th, 2014
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css')
    link(rel='stylesheet', href='css/style.css')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    include templates/header
    .row
      .small-12
        h1 Paige & Shaun
        h2 October 11th, 2013
    script(src='js/app.js')
