section.accomodations#accomodations
  .row
    h1 Some Guy
  .row
    .large-4.columns
      h4 Best Western, Culpepper
      p
        | $89.99 / night for queen
        | $99.00 / night for king or 2 queens
        | book under ‘dearing-robinson’
      img(src='images/star.png')
      img(src='images/star.png')
      img(src='images/star.png')


    .large-4.columns
      h4  Holiday In Express, Culpepper
      p
        | $89.99 / night for queen
        | $99.00 / night for king or 2 queens
        | book under ‘dearing-robinson’
      img(src='images/star.png')
      img(src='images/star.png')
      img(src='images/star.png')
      img(src='images/star.png')

    .large-4.columns
        h4 Area Bed & Breakfasts
        p
          | $89.99 / night for queen
          | $99.00 / night for king or 2 queens
          | book under ‘dearing-robinson’

        img(src='images/star.png')
        img(src='images/star.png')
        img(src='images/star.png')
        img(src='images/star.png')
        img(src='images/star.png')

