section.header#top
  .row.pre-nav
    .small-12.columns
      h1 Paige & Shaun
      h2 October 11<sup>th</sup>, 2014
  #main-nav-wrapper
    ul#main-nav
      li.title
        a(href='#top') paige + shaun
      li
        a(href='#couple') the couple
      li
        a(href='#wedding-party') the wedding party
      li
        a(href='#venue') the  venue
      li
        a(href='#accomodations') the accomodations
      li
        a(href='#big-day') the big day
      li
        a(href='#rsvp') rsvp
