section.venue#venue
  .row
      h1 Venue
  .row
    .large-3.columns
      img(src="http://www.innatwestwoodfarm.com/images/Inn-Springtime.jpg")

    .large-9.columns
      p
        | Tucked right at the foothills of the Blue Ridge Mountains,
        | Shaun and Paige instantly fell in love with the charm and
        | relaxed feel of the
        &nbsp;
        a(href='http://www.innatwestwoodfarm.com/') Inn at Westwood Farm, in Orange, Virginia.

      p Built in 1910 as a functioning farm, the venue hosts a beautiful barn, paddock with horses and llama, chicken coop and a farmhouse. Shaun and Paige plan to be married outdoors in a serene, intimate clearing near the surrounding woods, with a tented reception to follow on the property.
