section.wedding-party#wedding-party
  .row
    .small-6.columns.small-centered
      h1 The Wedding Party!!
      h4 Our love has grown but not without the love and support of our peoples

  .row
    .small-3.columns
      ul
        li
            a(href='#') Maitreya
        li
            a(href='#') Rafael
        li
            a(href='#') Aaron
        li
            a(href='#') Bill
        li
            a(href='#') Dave
        li
            a(href='#') Evan
        li
            a(href='#') Connolly

    .small-6.columns
      p (photo placeholder)

    .small-3.columns
      ul
        li
          a(href='#') Chelsea
        li
          a(href='#') Linley
        li
          a(href='#') Abby
        li
          a(href='#') Alex
        li
          a(href='#') Emma
        li
          a(href='#') Jessica
        li
          a(href='#') Katie

